html {
  font-size: 16px;
}
body {
  margin: 0;
  position: relative;
}

header {
  border-bottom: 7px solid #0c64eb;
}
header .head {
  display: flex;
  margin: 5px 0;
}
header .head .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
}
header .head .menu .language {
  flex: 0 0 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.25rem;
  margin-bottom: 10px;
  margin-right: 45px;
}
header .head .menu .language i {
  margin-right: 5px;
}
header .head .menu .language a {
  color: #333;
  text-decoration: none;
}
header .head .menu .language span {
  margin: 0 5px;
}
header .head .menu .menu_btn {
  display: none;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
}
header .head .menu ul.nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}
header .head .menu ul.nav > li {
  position: relative;
}
header .head .menu ul.nav > li > a {
  display: block;
  font-size: 1.5rem;
  padding: 5px;
  color: #333;
  text-decoration: none;
  line-height: 1;
}
header .head .menu ul.nav > li > a:hover {
  opacity: 0.8;
}
header .head .menu ul.nav > li > ul.sub_menu {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 120%;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  transform: scaleY(0) translateX(-50%);
  transform-origin: top;
  transition-duration: 0.3s;
  background-color: #eee;
  box-shadow: 5px 5px 10px #00000047;
  padding: 5px 0;
  z-index: 2;
}
header .head .menu ul.nav > li:hover > ul.sub_menu {
  transform: scaleY(1) translateX(-50%);
}
header .head .menu ul.nav > li > ul.sub_menu > li {
  text-align: center;
  padding: 10px 10px;
}
header .head .menu ul.nav > li > ul.sub_menu > li > a {
  display: block;
  color: #333;
  text-decoration: none;
}
header .head .menu ul.nav > li > ul.sub_menu > li > a:hover {
  opacity: 0.8;
}
header .head .menu .search_btn {
  margin-left: 15px;
  font-size: 1.25rem;
}
@media (max-width: 1200px) {
  header {
    position: relative;
  }
  header .head.active {
    border-bottom: 1px solid #fff;
  }
  header .head .menu .menu_btn {
    display: flex;
  }
  header .head .menu ul.nav {
    background-color: #087a7a;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 2;
    transform: scaleY(0);
    transition-duration: 0.3s;
    transform-origin: top;
    display: block;
    width: 100%;
  }
  header .head.active .menu ul.nav {
    transform: scaleY(1);
  }
  header .head.active .menu ul.nav > li {
    border-bottom: 1px solid #fff;
  }
  header .head.active .menu ul.nav > li:last-child {
    border-bottom: none;
  }

  header .head .menu ul.nav > li > ul.sub_menu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transform: scaleY(1) translateX(0);
    box-shadow: unset;
    display: none;
  }
  header .head .menu ul.nav > li:hover > ul.sub_menu {
    transform: scaleY(1) translateX(0);
  }
  header .head .menu ul.nav > li.active > ul.sub_menu {
    display: block;
  }
  header .head .menu ul.nav > li > ul.sub_menu li {
    text-align: left;
    padding: 10px 16px;
  }
  header .head.active .menu ul.nav > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
  }
  header .head.active .menu ul.nav > li.sub > a::after {
    font-size: 1.75rem;
    content: '›';
    transform: rotate(90deg);
  }
  header .head.active .menu ul.nav > li.active > a::after {
    transform: rotate(-90deg);
  }
}

/*麵包屑*/
ul.bread {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
}
ul.bread li {
  color: #333;
  display: flex;
  align-items: center;
}
ul.bread li::after {
  content: '>';
  margin: 0 5px 2px 5px;
}
ul.bread li:last-child:after {
  display: none;
}
ul.bread li a {
  color: #333;
}

/*分頁*/
.pager {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.pager a {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ccc;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  text-decoration: none;
}
.pager a.active {
  background-color: #087a7a;
  color: #fff;
}
.pager a:last-child {
  margin-right: 0;
}
.pager a:hover {
  background-color: #087a7a;
  color: #fff;
}
.pager .prev::before {
  content: '<';
}
.pager .next::before {
  content: '>';
}

footer {
  background-color: #677a92;
  padding: 20px 0;
}
footer .logo {
  margin-bottom: 35px;
}
footer .logo a {
  text-decoration: none;
}
footer .logo a:hover {
  opacity: 0.8;
}
footer ul.menu {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-bottom: 30px;
}
footer ul.menu li {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}
footer ul.menu li::after {
  content: '';
  border-right: 1px solid #fff;
  margin: 0 15px;
  height: 20px;
}
footer ul.menu li:last-child:after {
  display: none;
}
footer ul.menu li a {
  color: #fff;
  text-decoration: none;
}
footer ul.menu li a:hover {
  opacity: 0.8;
}
footer .info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
footer .info .item {
  flex: 1 0 33.3%;
  font-size: 1.25rem;
  color: #fff;
  margin-bottom: 20px;
}
footer .info .item:last-child {
  margin-bottom: 40px;
}
footer .info .item label {
  margin-bottom: 0;
  font-weight: 500;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  color: #fff;
}
