@import url(./common.css);

.contact_form_title {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 150px;
}
.contact_form_title h1 {
  font-size: 1.75rem;
  margin-bottom: 20px;
  font-weight: 700;
}
.contact_form {
  max-width: 900px;
  min-height: 300px;
  margin: 0 auto;
  background: #ffffffe6 0% 0% no-repeat padding-box;
  box-shadow: 5px 5px 20px #00000029;
  border-radius: 24px;
  padding: 46px 60px;
  margin-bottom: 60px;
}
.contact_form .input {
  display: flex;
  margin-bottom: 20px;
}
.contact_form .input label {
  flex: 0 0 70px;
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
}
.contact_form .input label font.red {
  color: #ec0086;
}
.contact_form .input input[type='text'] {
  flex: 1;
  min-width: 0;
  border-radius: 15px;
  border: 1px solid #a2a2a2;
  outline: none;
  padding: 5px 20px;
}
.contact_form .input textarea {
  flex: 1;
  min-width: 0;
  border-radius: 15px;
  border: 1px solid #a2a2a2;
  outline: none;
  padding: 20px;
}
.contact_form .input.verify input {
  border-radius: 0;
  flex: 0 0 200px;
  margin-right: 10px;
}
@media (max-width: 1200px) {
  .contact_form {
    padding: 20px 20px;
  }
}
.send {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.send a {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c64eb;
  color: #fff;
  font-size: 1.25rem;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 5px 5px 20px #00000029;
}
.send a:hover {
  opacity: 0.8;
}
